name: Unit Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - uses: actions/checkout@v5
      
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
        cache: true
  
    - name: Run unit tests
      run: go test -v ./... -skip TestWeakKey 